ip_coordinador=127.0.0.1
puerto_coordinador=8000
puerto_escucha=8001
algoritmo_planificacion=SJF_CD
#HRRN, SJF_CD, SJS_SD
alfa_inicial=50
estimacion_inicial=3
#Test algoritmos planificacion
claves_inicialmente_bloqueadas=[spoiler3,spoiler2,principal3,principal4]
cantidad_claves_inicialmente_bloqueadas=4

#claves_inicialmente_bloqueadas=[]
#cantidad_claves_inicialmente_bloqueadas=0
